* {
    border: none;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  :root {
    --color1: #530431;
    --color2: #fefaff;
    --color3: #988899;
    --color4: #9e6b87;
    --color5: #774462;
    --color6: #d6cad5;
  
  }

  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: var(--color4);
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .time-block{
    text-align: center;
    height: 75px;
    margin: 20px 0;
  }
  
  .hour {
    background-color: var(--color3);
    color: var(--color1);
    font-weight: bolder;
    padding-top: 2em;
  }
  
  .event input {
    margin: 2em auto;
    width: 80%;
  }
  
  .save {
    background-color:var(--color3);
    padding: 1em;
  }
  
  .saveBtn {
    border-radius: 9px;
    background-color: var(--color1);
    color: white;
    margin: auto;
    padding: 1em;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
  .past {
    background-color: var(--color4);
    color: white;
  }
  
  .present {
    background-color: var(--color6);
    color: white;
  }
  
  .future {
    background-color: var(--color1);
    color: white;
  }
 
  